/***** generic styling *****/

* {
  padding: 0;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
    /* if default browser font is 16px, this sets it to 10px (1rem = 10px) */
}

body {
  font-family: 'Karla', sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  background-color: hsl(204deg 43% 93%);
  color: white;
  position: relative;
  min-height: 100vh;
}


/***** class styling *****/

.wrapper {
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  min-width: 300px;
  max-width: 500px;
  border-radius: 1rem;
}

.box {
  padding: 2.5rem;
}

.top {
  background-color: #fff;
}

.top-heading {
  color: hsl(179, 62%, 43%);
  font-weight: 700;
  font-size: 2rem;
  margin-bottom: 2.5rem;
}

.top-subheading {
  color: hsl(71, 73%, 54%);
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.top p {
  font-size: 1.4rem;
  line-height: 1.8;
  color: hsl(218, 22%, 67%);
}



.subscription, .why-us {
  display: inline-block;
  width: 50%;
}

.subscription {
  background-color: hsl(179, 62%, 43%);
  float: left;
  /* height: 217px; */
}

.price {
  font-size: 3rem;
  font-weight: 700;
}

span {
  font-size: 1.6rem;
  font-weight: 400;
  opacity: .7;
  margin-left: 1rem;
  vertical-align: middle;
}

.subscription p {
  margin-top: 1rem;
  margin-bottom: 3rem;
}

button {
    outline: none;
    border:none;
    color: #fff;
    text-align: center;
    font-family: 'Karla', sans-serif;
    font-weight: 700;
    font-size: 1.6rem;
    background-color: hsl(71, 73%, 54%);
    padding: 1.4rem;
    border-radius: 6px;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
    transition: all .2s;
    cursor: pointer;
    width: 200px;
}

button:hover {
    transform: translateY(-.2rem);
    box-shadow: 0 1rem 2.5rem rgba(0, 0, 0, 0.15);
    background-color: #fff;
    color:  hsl(71, 73%, 54%);
}

button:active {
    transform: translateY(0rem);
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.15);

}

.subscription-heading, .why-heading {
  font-size: 1.8rem;
  margin-bottom: 2rem;
}

.why-us {
  background-color: rgba(42, 178, 176, 0.85);
  height: 248px;
}

ul {
  list-style: none;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 2.2rem;
}
